.video-singlePage {
  margin-left: 20rem;
  margin-top: 3rem;
  padding-bottom: 5rem;
}

.video .video-frame {
  width: 60rem;
  height: 30rem;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  margin-right: 14rem;
}

.footer-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.video-name {
  margin-top: 6px;
  margin-bottom: 0;
}

.footer-left-para {
  font-size: 1rem;
  color: #606060;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid black;
}

.left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 15rem;
}

.sub-btn {
  border-radius: 0.5rem;
  padding: 7px;
  width: 8rem;
  cursor: pointer;
}

.btn {
  background-color: black;
  color: white;
  padding: 4px;
  width: 5rem;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 0.5rem;
}

.btn:hover {
  background-color: white;
  color: black;
}
