.inputText-container {
  margin-top: 3rem;
}

.search-box {
  width: 50%;
  padding: 0.5rem;
  outline: none;
  font-size: 1rem;
}

.search-btn {
  padding: 0.5rem;
  width: 5rem;
}

.options {
  border-top: 0.3px solid black;
  border-bottom: 0.3px solid black;
  margin: 1rem auto;
  width: 60%;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.options button {
  border-radius: 1rem;
  padding: 0.7rem;
  border: 0.3px solid #848482;
  cursor: pointer;
  font-weight: 600;
}

.options button:hover {
  background-color: #848482;
}
