.inputText-container {
  margin-top: 3rem;
  margin-left: 30rem;
}

.search-box {
  width: 50%;
  padding: 0.5rem;
  outline: none;
  font-size: 1rem;
}

.search-btn {
  padding: 0.5rem;
  width: 5rem;
}

.options {
  border-top: 0.3px solid black;
  border-bottom: 0.3px solid black;
  margin: 1rem auto;
  width: 60%;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.options button {
  border-radius: 1rem;
  padding: 0.7rem;
  border: 0.3px solid #848482;
  cursor: pointer;
  font-weight: 600;
}

.options button:hover {
  background-color: #848482;
}

.main-section {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  margin-left: 18rem;
  margin-top: 4rem;
  margin-bottom: 5rem;
}

.optionCard {
  width: 24.6%;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: transform 0.2s;
  padding-bottom: 1rem;
}

.optionCard:hover {
  transform: scale(1.2);
}

.image-container img {
  width: 17.5rem;
  height: 12rem;
}

.text-container h3 {
  text-align: left;
  font-size: 1rem;
  padding-left: 1rem;
}

.channel-name {
  display: block;
  text-align: left;
  padding-left: 1rem;
}

.small-btns {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.small-btns button {
  cursor: pointer;
  font-size: 1.8rem;
  color: white;
  background-color: black;
  padding-top: 0.3rem;
  border: none;
  border-radius: 0.5rem;
}
