.signUp-form {
  width: 30rem;
  margin: 8rem 0rem 10rem 28rem;
  border: 2px solid white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 2rem 0 5rem 4rem;
  border-radius: 1rem;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23e1e1e1' fill-opacity='0.94'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.loginh2 {
  margin-left: 10rem;
  color: black;
  margin-bottom: 2rem;
  text-decoration: underline;
  font-size: 1.5rem;
}

.basic-inp-box {
  width: 25rem;
  height: 2rem;
  margin-top: 2rem;
  border-radius: 4rem;
  padding-left: 1rem;
  outline: none;
}

.showPwd-text {
  margin-left: 1rem;
  cursor: pointer;
}

.showPwd-text:hover {
  text-decoration: underline;
}

.submit-btn {
  border-radius: 3rem;
  padding: 0.5rem 2.5rem;
  font-weight: 800;
  width: 10rem;
  margin-top: 2rem;
  margin-left: 8rem;
  cursor: pointer;
}

.signUp-para {
  margin-left: 6rem;
}
