:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-whiteSmoke: #f5f5f5;
  --cyan-blue: #1a83ff;
  --dark-grey: #848482;
  --light-grey: #ccc;
  --color-grey: #606060;
  --dark-green: #263925;
  --color-silver: #ccc;
  --light-white: #f7f8fa;
}
