.main-section {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  margin-top: 4rem;
  margin-bottom: 5rem;
}

.optionCard {
  width: 24.6%;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: transform 0.2s;
  padding-bottom: 1rem;
}

.optionCard:hover {
  transform: scale(1.2);
}

.liked-heading {
  margin-left: 37rem;
}

.image-container img {
  width: 17.5rem;
  height: 12rem;
}

.text-container h3 {
  text-align: left;
  font-size: 1rem;
  padding-left: 1rem;
}

.channel-name {
  display: block;
  text-align: left;
  padding-left: 1rem;
}

.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.deleteCard {
  margin-right: 1rem;
  font-size: 1.5rem;
}

.empty-Likemessage {
  margin-top: 15rem;
  margin-left: 30rem;
}

.empty-Likemessage p {
  font-size: 2rem;
  margin-left: 5rem;
}

.empty-Likemessage button {
  width: 9rem;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 0.5rem;
  margin-left: 8rem;
}
